*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#071A3D;
    color:white;
}

/* Hero */

.hero{
    min-height:90vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:60px 8%;
}

.hero-text{
    width:100%;
    max-width:1100px;
    text-align:center;
}

.hero-text h4{
    color:#F4B400;
    letter-spacing:3px;
    margin-bottom:20px;
}

.hero-text h1{
    font-size:75px;
    line-height:1.1;
    margin:20px 0;
}

.hero-text p{
    font-size:24px;
    line-height:1.8;
    max-width:900px;
    margin:0 auto 40px;
    color:#D9D9D9;
}

#teamBtn{
    display:inline-block;
    margin-top:20px;
    padding:18px 45px;
    border:none;
    border-radius:40px;
    background:#F4B400;
    color:#071A3D;
    font-size:20px;
    font-weight:bold;
    cursor:pointer;
}

#teamBtn:hover{
    transform:translateY(-3px);
}

/* Team */

#team{
    padding:80px 20px;
    display:flex;
    justify-content:center;
}

.team-card{
    width:380px;
    background:white;
    color:#071A3D;
    border-radius:20px;
    padding:25px;
    text-align:center;
    box-shadow:0 10px 25px rgba(0,0,0,.25);
}

.team-card img{
    width:100%;
    height:350px;

    object-fit:contain;   /* image crop nahi hogi */

    border-radius:15px;

    background:#f5f5f5;
}

.team-card h2{
    margin-top:20px;
    font-size:30px;
}

.team-card p{
    margin-top:10px;
    font-size:20px;
    color:#555;
}

/* Mobile */

@media(max-width:768px){

header{
    flex-direction:column;
    gap:20px;
}

nav{
    gap:18px;
    flex-wrap:wrap;
    justify-content:center;
}

.hero-text h1{
    font-size:40px;
}

.hero-text p{
    font-size:18px;
}

.team-card{
    width:95%;
}

.team-card img{
    height:300px;
}
}

.mainLogo{
    width:220px;
    height:auto;
    margin-bottom:30px;
}
