*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#071A3D;
    color:#fff;
    overflow-x:hidden;
}
.team-page{
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:30px 20px;
}

.team-page h1{
    text-align:center;
    color:#F4B400;
    font-size:40px;
    margin-bottom:25px;
}
.hero{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px 8%;
}

.hero-text{
    width:100%;
    max-width:1300px;
    text-align:center;
}

.mainLogo{
    width:120px;
    max-width:50%;
    height:auto;
    display:block;
    margin:0 auto 15px;
}

.hero-text h4{
    color:#F4B400;
    letter-spacing:3px;
    font-size:16px;
    margin-bottom:12px;
}

.hero-text h1{
    font-size:55px;
    font-weight:700;
    line-height:1.1;
    max-width:1100px;
    margin:0 auto 20px;
}

.hero-text p{
    max-width:950px;
    margin:0 auto 45px;
    font-size:18px;
    line-height:1.5;
    color:#d8d8d8;
}

.teamText{
    margin-top:20px;
    margin-bottom:20px;
    font-size:18px;
    font-weight:600;
}

#teamBtn{
    background:#F4B400;
    color:#071A3D;
    border:none;
    padding:8px 25px;
    margin-top:0;
    font-size:15px;
    font-weight:bold;
    border-radius:50px;
    cursor:pointer;
    position:relative;
    z-index:999;
}

#teamBtn:hover{
    transform:translateY(-3px);
    box-shadow:0 8px 20px rgba(0,0,0,.35);
}

#team{
    padding:50px 20px;
    display:flex;
    justify-content:center;
}

.team-card{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:35px;
    width:800px;
    margin:20px auto;
    background:white;
    color:#071A3D;
    padding:20px;
    border-radius:20px;
}

.team-card img{
    width:150px;
    height:280px;
    object-fit:contain;
    background:#123C73; 
    border-radius:15px;
}

.team-card h2{
   font-size:30px;
    color:#071A3D;
    margin-bottom:10px;
}

.team-card p{
    font-size:22px;
    color:#F4B400;
    font-weight:bold;
}
.back-page{
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.back-page h1{
    font-size:48px;
    color:#FFD700;
    margin-bottom:20px;
}

.back-page p{
    font-size:22px;
    color:#fff;
    margin-bottom:40px;
}

.back-page #teamBtn{
    margin-top:0;
}
@media(max-width:768px){

.hero{
    padding:15px 20px;
}

.mainLogo{
    width:90px;
}

.hero-text h1{
    font-size:32px;
}

.hero-text p{
    font-size:15px;
}

.teamText{
    margin-top:15px;
    margin-bottom:10px;
    font-size:16px;
}

#teamBtn{
    font-size:15px;
    padding:8px 22px;
    margin-top:0;
}
}
.team-page h1{
    font-size:28px;
}

.team-card{
    width:95%;
    flex-direction:column;
    gap:20px;
    padding:20px;
}

.team-card img{
    width:160px;
    height:240px;
}
.back-page h1{
    font-size:32px;
}

.back-page p{
    font-size:18px;
}

.back-page #teamBtn{
    width:220px;
}
